<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOA Wandernadel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',  filename='leaflet/leaflet.css') }}">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        #map {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div id="map"></div>

<script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
<script>
    var map = L.map('map').setView([{{ settings.latitude }}, {{ settings.longitude }}], {{ settings.zoom_level }});

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18
    }).addTo(map);

    {% if settings.marker %}
    var icon = L.icon({
        iconUrl: "{{ "/static/" + settings.marker }}",
        {% if settings.marker_width is not none and settings.marker_height is not none %}
        iconSize: [{{ settings.marker_width }}, {{ settings.marker_height }}],
        {% endif %}
        {% if settings.marker_anchor_x is not none and settings.marker_anchor_y is not none %}
        iconAnchor:   [{{ settings.marker_anchor_x }}, {{ settings.marker_anchor_y }}],
        {% endif %}
        {% if settings.marker_popup_x is not none and settings.marker_popup_anchor_y is not none %}
        popupAnchor:  [{{ settings.marker_popup_x }}, {{ settings.marker_popup_anchor_y }}]
        {% endif %}
    })
    {% endif %}

    fetch('/api/locations')
        .then(response => response.json())
        .then(data => {
            data.forEach(location => {
                if (location.enabled) {
                    var difficultyStars = '★'.repeat(location.difficulty)+ '☆'.repeat(5 - location.difficulty);
                    var terrainStars = '★'.repeat(location.terrain) + '☆'.repeat(5 - location.terrain);

                    var popupContent = `
                    <h2>${location.name}</h2>
                    <p>Type: ${location.type}</p>
                    <p>Difficulty: ${difficultyStars}</p>
                    <p>Terrain: ${terrainStars}</p>
                    <p>Description:<br>${location.description}</p>
                    ${location.image_url ? `<img src="/static/${location.image_url}" width="200">` : ''}
                    <a href="/gpx/${location.id}" download>Download GPX</a>
                    `;

                    L.marker(
                        [location.latitude, location.longitude]{{ ", {icon: icon}" if settings.marker else "" }})
                        .bindPopup(popupContent)
                        .addTo(map);
                }
            });
        });

</script>
</body>
</html>
